# Shell (bash or zsh) aliases

alias -- -='cd -' # '--' means any following '-' is not to be interpreted as an option
alias ~='cd ~'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'

function aliasfuzzyfind() {
    local selected_alias=$(alias | sed 's/=/ -> /' | fzf --prompt 'Aliases > ' | cut -d' ' -f1)
    if [[ -n "$selected_alias" ]]; then
        print -z "${selected_alias} "
    fi
}
function aliaslist() {
    alias | grep "^$1"
}
alias al='alias'
alias alf='aliasfuzzyfind'
alias all='aliaslist'

alias bra='brew autoremove'
alias brc='brew cleanup'
alias bri='brew install'
alias brif='brew info'
alias brl='brew list'
alias brlv='brew leaves'
alias bro='brew outdated'
alias brp='brew pin'
alias brr='brew reinstall'
alias brs='brew search'
alias brsl='brew services list'
alias brss='brew services start'
alias brsst='brew services stop'
alias brud='brew update'
alias brug='brew upgrade'
alias brui='brew uninstall'
alias brup='brew unpin'

alias cl='clear'

function changetheme() {
    local themes="default
catppuccin-macchiato
catppuccin-mocha
catppuccin-frappe
catppuccin-latte
gruvbox-dark
gruvbox-material
gruvbox-light
kanagawa-wave
kanagawa-dragon
kanagawa-lotus
onedark
onelight
rose-pine-moon
rose-pine-main
rose-pine-dawn
tokyonight-moon
tokyonight-night
tokyonight-storm
tokyonight-day"
    local selected_theme=$(echo "$themes" | fzf --prompt="Themes > " --no-sort)
    if [[ -z $selected_theme ]]; then
        return
    fi
    ln -sf "$HOME/.config/wezterm/theme/$selected_theme.lua" "$HOME/.config/wezterm/theme/current.lua"
    ln -sf "$HOME/.config/tmux/theme/tmux-$selected_theme.conf" "$HOME/.config/tmux/theme/tmux-current.conf"
    ln -sf "$HOME/.config/nvim/lua/config/theme/$selected_theme.lua" "$HOME/.config/nvim/lua/config/theme/current.lua"
}
alias ct='changetheme'

alias da='deactivate'

alias dkb='docker build'
alias dkcl='docker container ls'
alias dkcp='docker container prune'
alias dkcr='docker container rm'
alias dke='docker exec'
alias dkil='docker image ls'
alias dkip='docker image prune'
alias dkir='docker image rm'
alias dkp='docker ps'
alias dkpl='docker pull'
alias dkps='docker push'
alias dkr='docker run'
alias dkrm='docker rm'
alias dks='docker start'
alias dksd='docker system df'
alias dksp='docker system prune'
alias dkst='docker stop'
alias dkvl='docker volume ls'
alias dkvp='docker volume prune'
alias dkvr='docker volume rm'

# Use `docker compose` instead of `docker-compose` will make completions available
alias dcb='docker compose build'
alias dce='docker compose exec'
alias dcd='docker compose down'
alias dcl='docker compose ls'
alias dcp='docker compose ps'
alias dcpl='docker compose pull'
alias dcps='docker compose push'
alias dcr='docker compose run'
alias dcrm='docker compose rm'
alias dcs='docker compose start'
alias dcst='docker compose stop'
alias dcu='docker compose up'

alias ga='git add'
alias gb='git branch'
alias gc='git commit'
alias gci='git check-ignore'
alias gcle='git clean'
alias gclo='git clone'
alias gco='git checkout'
alias gd='git diff'
alias gf='git fetch'
alias gi='git init'
alias gl='git log'
alias gpl='git pull'
alias gps='git push'
alias grb='git rebase'
alias grm='git rm'
alias grs='git reset'
alias grt='git restore'
alias grv='git revert'
alias gs='git status'
alias gsh='git show'
alias gst='git stash'
alias gsta='git stash apply'
alias gstc='git stash clear'
alias gstd='git stash drop'
alias gstl='git stash list'
alias gstp='git stash pop'
alias gstps='git stash push'
alias gsts='git stash show'
alias gsw='git switch'
alias gt='git tag'
alias gw='git worktree'
alias gwa='git worktree add'
alias gwl='git worktree list'
alias gwr='git worktree remove'

alias ghic='gh issue create'
alias ghie='gh issue edit'
alias ghil='gh issue list'
alias ghiv='gh issue view'
alias ghpc='gh pr create'
alias ghpe='gh pr edit'
alias ghpl='gh pr list'
alias ghpv='gh pr view'

alias he='head'

alias hi='history'

function mkdircd() {
    mkdir "$@"
    local dir
    for arg in "$@"; do
        if [[ "$arg" != -* ]]; then
            dir="$arg"
            break
        fi
    done
    cd "$dir" || exit
}
alias md='mkdir'
alias mdc='mkdircd'

alias mk='make'

alias npa='npm add'
alias npi='npm install'
alias npl='npm list'
alias npr='npm run'
alias nprm='npm remove'

alias nvd='nvm deactivate'
alias nvi='nvm install'
alias nvu='nvm use'
alias nvui='nvm uninstall'

alias oc='opencode'

alias op='open'

alias pif='pip freeze'
alias pii='pip install'
alias pil='pip list'
alias pis='pip show'
alias piu='pip uninstall'

alias poa='poetry add'
alias pob='poetry build'
alias poc='poetry check'
alias pocc='poetry cache clear'
alias pocl='poetry cache list'
alias poea='poetry env activate'
alias poei='poetry env info'
alias poel='poetry env list'
alias poer='poetry env remove'
alias poeu='poetry env use'
alias poi='poetry install'
alias poii='poetry init'
alias pol='poetry lock'
alias pon='poetry new'
alias pop='poetry publish'
alias por='poetry run'
alias porm='poetry remove'
alias porp='poetry run python'
alias pos='poetry sync'
alias pose='poetry search'
alias posh='poetry show'
alias posu='poetry self update'
alias pou='poetry update'

function pythonvenv() {
    local python_version=${1:-3}
    local venv_name=${2:-.venv}
    local python_cmd="python${python_version}"
    if [[ -d "$venv_name" ]]; then
        echo "Directory '$venv_name' already exists."
        return 1
    fi
    if ! command -v "$python_cmd" &>/dev/null; then
        echo "Python command '$python_cmd' not found."
        return 1
    fi
    "$python_cmd" -m venv "$venv_name"
}
alias py='python'
alias pyv='pythonvenv'

function rmbrokensymlinks() {
    local recursive=0
    local dir="."
    while [[ $# -gt 0 ]]; do
        case "$1" in
        -r)
            recursive=1
            shift
            ;;
        *)
            dir="$1"
            shift
            ;;
        esac
    done
    local find_opts=(-L "$dir")
    [[ $recursive -eq 0 ]] && find_opts+=(-maxdepth 1)
    find_opts+=(-type l)
    local broken_symlinks=$(find "${find_opts[@]}")
    if [[ -z "$broken_symlinks" ]]; then
        echo "No broken symlinks found."
        return 0
    fi
    echo "Removing broken symlinks:"
    echo "$broken_symlinks"
    find "${find_opts[@]}" -exec rm -- {} + # Line taken from the `man find` page
}
alias rbs="rmbrokensymlinks"

alias rd='rmdir'

function sourcevenv() {
    local venv_path=${1:-.venv}
    if [[ -d "$venv_path" ]]; then
        source "$venv_path/bin/activate"
    else
        echo "Virtual environment directory '$venv_path' does not exist."
        return 1
    fi
}
alias so='source'
alias sob='source ~/.bashrc'
alias sov='sourcevenv'
alias soz='source ~/.zshrc'

alias tk='tokei' # See https://github.com/XAMPPRocky/tokei

alias tl='tldr' # See https://github.com/tldr-pages/tldr

function _tmux-new-or-attach() {
    local dir=$(basename "$PWD")
    if tmux has-session -t="$dir" 2>/dev/null; then # Avoid error if the session already exists
        tmux attach-session -t="$dir"
    else
        tmux new-session -s "$dir"
    fi
}
alias tm='_tmux-new-or-attach'
alias tma='tmux attach'
alias tmd='tmux detach'
alias tml='tmux ls 2>/dev/null || echo "No tmux server is running"'
alias tmk='tmux kill-session'
alias tmks='tmux kill-server'
alias tmn='tmux new'
alias tmr='tmux rename'

function touchdirs() {
    for file in "$@"; do
        dir=$(dirname "$file")
        mkdir -p "$dir"
        touch "$file"
    done
}
alias to='touch'
alias tod='touchdirs'

alias ul='unlink'

alias uva='uv add'
alias uvb='uv build'
alias uvcc='uv cache clean' # Same as `uv clean`
alias uvcp='uv cache prune'
alias uvi='uv init'
alias uvl='uv lock'
alias uvp='uv publish'
alias uvpf='uv pip freeze'
alias uvpi='uv pip install'
alias uvpl='uv pip list'
alias uvps='uv pip show'
alias uvpu='uv pip uninstall'
alias uvpyi='uv python install'
alias uvpyl='uv python list'
alias uvr='uv run'
alias uvrm='uv remove'
alias uvrp='uv run python'
alias uvs='uv sync'
alias uvsu='uv self update'
alias uvsv='uv self version'
alias uvt='uv tree'
alias uvti='uv tool install'
alias uvtl='uv tool list'
alias uvtr='uv tool run'
alias uvtui='uv tool uninstall'
alias uvtup='uv tool upgrade'
alias uvv='uv venv'

alias vi='nvim'
alias vii='NVIM_ENABLE_ALL_PLUGINS=1 nvim +MasonInstallAll' # Install mode

alias wi='which'

alias we='whence'

alias zid='zinit delete'
alias zis='zinit status'
alias zisu='zinit self-update'
alias ziu='zinit update'
