root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true

[*.json]
max_line_length = 100

[*.lua]
max_line_length = 120

[*.py]
max_line_length = 100
indent_style = space
indent_size = 4

[*.zsh]
indent_style = space
indent_size = 4
max_line_length = 140

[*.{md,toml,yaml}]
max_line_length = 100
