[advice]
	forceDeleteBranch = false
	skippedCherryPicks = false
	statusHints = false
[alias]
	lg = log --oneline --graph --decorate --color
[core]
	autocrlf = input
	editor = nvim
	pager = less
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	default = current
	autoSetupRemote = true
[status]
	showStash = true
	showUntrackedFiles = all
[user]
	name = cjumel
	email = clement.jumel@gmail.com
