[user]
	name = clementjumel
	email = clement.jumel@gmail.com
[credential]
	helper = osxkeychain
[core]
	excludesfile = /Users/clement/dotfiles/.gitignore_global
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[alias]
	log = log --oneline --graph --decorate --color
