# Part of this config is taken from https://blog.gitbutler.com/how-git-core-devs-configure-git/

[advice]
	forceDeleteBranch = false
	skippedCherryPicks = false
	statusHints = false
[branch]
	sort = -committerdate
[commit]
	verbose = true
[core]
	autocrlf = input
	editor = nvim
	excludesfile = ~/.gitignore-global # Next to `~/.gitconfig`
	pager = less
[credential]
	helper = osxkeychain
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[fetch]
	prune = true
	pruneTags = true
[help]
	autocorrect = prompt
[init]
	defaultBranch = main
[merge]
	conflictStyle = zdiff3
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	default = simple
	followTags = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[rerere]
	enabled = true
	autoupdate = true
[status]
	showStash = true
	showUntrackedFiles = all
[tag]
	sort = version:refname
[user]
	name = cjumel
	email = clement.jumel@gmail.com
