" .ideavimrc is a configuration file for IdeaVim plugin; it uses
" the same commands as the original .vimrc configuration
"
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
" Parts of the following configuration are taken from here:
" https://amine-elhattami.medium.com/destination-ideavim-day-1-the-basics-793a514af57f
" and here: https://towardsdatascience.com/the-essential-ideavim-remaps-291d4cd3971b

""" General settings

" Show a few lines of context around the cursor; note that this makes the
" text scroll if you mouse-click near the start or end of the window
set scrolloff=3
" Do incremental searching (highlight results as you type)
set incsearch
" Use relative line numbers, except for the one under the cursor
set number
set relativenumber
" Enable copy paste from the system and PyCharm clipboards
set clipboard+=unnamed
set clipboard+=ideaput
" Use PyCharm lines join (with J)
set ideajoin

let mapleader = " "

" Specify which of Vim or the IDE should handle the conflicting mappings
sethandler <c-g> a:ide
sethandler <c-n> i-v:vim n:ide
sethandler <c-r> a:vim
sethandler <TAB> n-v:vim i:ide
sethandler <s-TAB> n-v:vim i:ide

""" Key mappings
" See the documentation here: https://jb.gg/abva4t

"" IdeaVim setup
nmap <leader>,e :edit ~/.ideavimrc<CR>
nmap <leader>,r <Action>(IdeaVim.ReloadVimRc.reload)
nmap <leader>,t <Action>(VimFindActionIdAction)

"" Projects management
nmap <leader>c <Action>(ManageRecentProjects)
nmap <leader>q <Action>(CloseProject)
nmap <leader>n <Action>(NextProjectWindow)
nmap <leader>p <Action>(PreviousProjectWindow)

"" Tabs management
nmap <TAB> <Action>(NextTab)
nmap <s-TAB> <Action>(PreviousTab)
nmap <leader>x <Action>(CloseContent)

"" Splits management
nmap <leader>! <Action>(MoveTabRight)
nmap <leader>- <Action>(MoveTabDown)
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nmap <c-m> <Action>(MoveEditorToOppositeTabGroup)

"" Tool windows management
nmap <leader>e <Action>(ActivateProjectToolWindow)
nmap <leader>l <Action>(JumpToLastWindow)
nmap <leader>h <Action>(HideActiveWindow)
nmap <leader>H <Action>(HideAllWindows)
nmap <leader>tg <Action>(ActivateVersionControlToolWindow)
nmap <leader>tm <Action>(ActivateBookmarksToolWindow)
nmap <leader>tt <Action>(ActivateTODOToolWindow)
nmap <leader>ts <Action>(ActivateStructureToolWindow)
nmap <leader>tpb <Action>(ActivateProblemsViewToolWindow)
nmap <leader>tpy <Action>(ActivatePythonConsoleToolWindow)
nmap <leader>tr <Action>(ActivateRunToolWindow)
nmap <leader>td <Action>(ActivateDebugToolWindow)

"" Modes & Python setups
nmap <leader>z <Action>(ToggleDistractionFreeMode)
nmap <leader>ps <Action>(TogglePowerSave)
nmap <leader>py <Action>(PySwitchSdkAction)
nmap <leader>th <Action>(QuickChangeScheme)

"" Search
nmap <leader>fa <Action>(SearchEverywhere)
nmap <leader>fb <Action>(Find)
nmap <leader>fd <Action>(FindInPath)
nmap <leader>ff <Action>(GotoFile)
nmap <leader>fc <Action>(GotoClass)
nmap <leader>fr <Action>(RecentFiles)
nmap <leader>fs <Action>(GotoSymbol)

"" Bookmarks
nmap m <Action>(ToggleBookmarkWithMnemonic)
nmap ' <Action>(ShowBookmarks)

"" Code navigation
nmap gd <Action>(GotoDeclaration)
nmap ]m <Action>(MethodDown)
nmap [m <Action>(MethodUp)
nmap ]u <Action>(GotoNextElementUnderCaretUsage)
nmap [u <Action>(GotoPrevElementUnderCaretUsage)
nmap ]c <Action>(VcsShowNextChangeMarker)
nmap [c <Action>(VcsShowPrevChangeMarker)

"" Preview
nmap <leader>pd <Action>(QuickJavaDoc)
nmap <leader>ph <Action>(VcsShowCurrentChangeMarker)
nmap <leader>pp <Action>(ParameterInfo)

"" Edition
nmap <leader>rh <Action>(Vcs.RollbackChangedLines)
nmap <leader>rn <Action>(RenameElement)
nmap <leader>sb <Action>(Replace)
nmap <leader>sd <Action>(ReplaceInPath)

"" Formatting
nmap <leader>fmb <Action>(Tool_External Tools_Black)
nmap <leader>fmi <Action>(Tool_External Tools_isort)
nmap <leader>fmo <Action>(OptimizeImports)
nmap <leader>fmp <Action>(Tool_External Tools_Prettier)

"" Insert mode mappings
imap <c-SPACE> <Action>(CodeCompletion)
imap <c-n> <Action>(EditorLookupSelectionDown)
imap <c-p> <Action>(EditorLookupSelectionUp)

"" Visual mode mappings
vmap <TAB> <Action>(EditorIndentLineOrSelection)
vmap <s-TAB> <Action>(EditorUnindentSelection)

""" IdeaVim plugins
" See the list of available plugins here: https://jb.gg/ideavim-plugins

" NerdTree-style project view
Plug 'preservim/nerdtree'
" Highlight a region when yanked
Plug 'machakann/vim-highlightedyank'
" Comment stuff out with the `gc` or `gcc` commands
Plug 'tpope/vim-commentary'
" Provide mappings to easily manipulate parentheses, brackets, etc. and their content
Plug 'tpope/vim-surround'
" Provide a simpler way to use motions in vim
" See the documentation of the original plugin here:
" https://github.com/easymotion/vim-easymotion/blob/master/doc/easymotion.txt
Plug 'easymotion/vim-easymotion'
" Disable the default mappings
let g:EasyMotion_do_mapping=0
" Change the leader from <Leader><Leader> to <Leader>
map <Leader> <Plug>(easymotion-prefix)
" Define EasyMotion mappings
nmap s <Plug>(easymotion-s)
vmap s <Plug>(easymotion-s)
map <Leader>w <Plug>(easymotion-wl)
map <Leader>b <Plug>(easymotion-bl)
map <Leader>j <Plug>(easymotion-j)
map <Leader>k <Plug>(easymotion-k)
