" .ideavimrc is a configuration file for IdeaVim plugin; it uses
" the same commands as the original .vimrc configuration
"
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
" Parts of the following configuration are taken from here:
" https://amine-elhattami.medium.com/destination-ideavim-day-1-the-basics-793a514af57f
" and here: https://towardsdatascience.com/the-essential-ideavim-remaps-291d4cd3971b

""" General settings

" Show a few lines of context around the cursor; note that this makes the
" text scroll if you mouse-click near the start or end of the window
set scrolloff=3
" Do incremental searching (highlight results as you type)
set incsearch
" Use relative line numbers, except for the one under the cursor
set number
set relativenumber
" Enable copy paste from the system and PyCharm clipboards
set clipboard+=unnamed
set clipboard+=ideaput
" Use PyCharm lines join (with J)
set ideajoin

let mapleader = " "

" Specify which of Vim or the IDE should handle the conflicting mappings
sethandler <c-g> a:ide
sethandler <c-n> a:ide
sethandler <c-p> a:ide
sethandler <c-r> a:vim
sethandler <TAB> n-v:vim i:ide
sethandler <s-TAB> n-v:vim i:ide

""" Key mappings
" See the documentation here: https://jb.gg/abva4t

"" IdeaVim setup
nmap <leader>,e :edit ~/.ideavimrc<CR>
nmap <leader>,r <Action>(IdeaVim.ReloadVimRc.reload)
nmap <leader>,t <Action>(VimFindActionIdAction)

"" Projects management
nmap <c-SPACE>c <Action>(ManageRecentProjects)
nmap <c-SPACE>q <Action>(CloseProject)
nmap <c-SPACE>n <Action>(NextProjectWindow)
nmap <c-SPACE>p <Action>(PreviousProjectWindow)

"" Splits management
nmap <c-SPACE>! <Action>(MoveTabRight)
nmap <c-SPACE>- <Action>(MoveTabDown)
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nmap <c-m> <Action>(MoveEditorToOppositeTabGroup)

"" Tabs management
nmap <TAB> <Action>(NextTab)
nmap <s-TAB> <Action>(PreviousTab)

"" Files management
nmap <leader>ro <Action>(ReopenClosedTab)
nmap <leader>sf <Action>(NewScratchFile)
nmap <leader>x <Action>(CloseContent)
nmap <leader>Xa <Action>(CloseAllEditors)
nmap <leader>Xo <Action>(CloseAllEditorsButActive)

"" Tool windows management
nmap <leader>h <Action>(HideActiveWindow)
nmap <leader>H <Action>(HideAllWindows)
nmap <leader>l <Action>(JumpToLastWindow)
nmap <leader>n <Action>(ActivateProjectToolWindow)
nmap <leader>;g <Action>(ActivateVersionControlToolWindow)
nmap <leader>;m <Action>(ActivateBookmarksToolWindow)
nmap <leader>;t <Action>(ActivateTODOToolWindow)
nmap <leader>;i <Action>(ActivateProblemsViewToolWindow)
nmap <leader>;p <Action>(ActivatePythonConsoleToolWindow)
nmap <leader>;r <Action>(ActivateRunToolWindow)
nmap <leader>;d <Action>(ActivateDebugToolWindow)

"" Modes & Python setups
nmap <leader>z <Action>(ToggleDistractionFreeMode)
nmap <leader>ps <Action>(TogglePowerSave)
nmap <leader>py <Action>(PySwitchSdkAction)
nmap <leader>th <Action>(QuickChangeScheme)

"" Search
map <leader>fa <Action>(SearchEverywhere)
map <leader>fb <Action>(Find)
map <leader>fc <Action>(GotoClass)
map <leader>ff <Action>(GotoFile)
map <leader>fp <Action>(FindInPath)
map <leader>fr <Action>(RecentFiles)
map <leader>fs <Action>(GotoSymbol)
map <leader>fw <Action>($SearchWeb)

"" Bookmarks
nmap m <Action>(ToggleBookmarkWithMnemonic)
nmap ' <Action>(ShowBookmarks)

"" Code navigation
nmap gd <Action>(GotoDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gs <Action>(GotoSuperMethod)
nmap gte <Action>(GotoTest)
nmap gty <Action>(GotoTypeDeclaration)

"" Buffer navigation
nmap ]c <Action>(VcsShowNextChangeMarker)
nmap [c <Action>(VcsShowPrevChangeMarker)
nmap ]m <Action>(MethodDown)
nmap [m <Action>(MethodUp)
nmap ]u <Action>(GotoNextElementUnderCaretUsage)
nmap [u <Action>(GotoPrevElementUnderCaretUsage)

"" Preview
nmap <leader>pd <Action>(QuickJavaDoc)
nmap <leader>ph <Action>(VcsShowCurrentChangeMarker)
nmap <leader>pp <Action>(ParameterInfo)
nmap <leader>pmo <Action>(Markdown.Layout.EditorAndPreview)
nmap <leader>pmc <Action>(Markdown.Layout.EditorOnly)

"" Edition
nmap <leader>rh <Action>(Vcs.RollbackChangedLines)
nmap <leader>rn <Action>(RenameElement)
nmap <leader>sb <Action>(Replace)
nmap <leader>sp <Action>(ReplaceInPath)

"" To-do insertion
nmap to O# todo<esc>
nmap ti I# todo <esc>
nmap ta A # todo<esc>

"" Code commenting
""" These keymaps are inspired from the plugin 'tpope/commentary-vim', however, the plugin
""" emulation for IdeaVim doesn't work on my setup.
nmap gcc <Action>(CommentByLineComment)
vmap gc <Action>(CommentByLineComment)

"" Code running
nmap <leader>de <Action>(DebugClass)
nmap <leader>rd <Action>(Debug)
nmap <leader>rr <Action>(Run)
nmap <leader>ru <Action>(RunClass)

"" Code formatting
nmap <leader>fm <Action>(Tool_External Tools_Black)
nmap <leader>im <Action>(OptimizeImports)
nmap <leader>is <Action>(Tool_External Tools_isort)
nmap <leader>pr <Action>(Tool_External Tools_Prettier)

"" Code folding
nmap <c-=> <Action>(ExpandRegion)
nmap <c-s-=> <Action>(ExpandAllRegions)
nmap <c--> <Action>(CollapseRegion)
nmap <c-s--> <Action>(CollapseAllRegions)

"" Insert mode mappings
imap <c-SPACE> <Action>(CodeCompletion)

"" Visual mode mappings
vmap <TAB> <Action>(EditorIndentLineOrSelection)
vmap <s-TAB> <Action>(EditorUnindentSelection)

""" IdeaVim plugins
" See the list of available plugins here: https://jb.gg/ideavim-plugins

" NerdTree-style project view
Plug 'preservim/nerdtree'
" Highlight a region when yanked
Plug 'machakann/vim-highlightedyank'
" Provide mappings to easily manipulate parentheses, brackets, etc. and their content
Plug 'tpope/vim-surround'
" Provide a simpler way to use motions in vim
" See the documentation of the original plugin here:
" https://github.com/easymotion/vim-easymotion/blob/master/doc/easymotion.txt
Plug 'easymotion/vim-easymotion'
" Disable the default mappings
let g:EasyMotion_do_mapping=0
" Change the leader from <Leader><Leader> to <Leader>
map <Leader> <Plug>(easymotion-prefix)
" Define EasyMotion mappings
map s <Plug>(easymotion-s)
map <Leader>w <Plug>(easymotion-wl)
map <Leader>b <Plug>(easymotion-bl)
map <Leader>e <Plug>(easymotion-el)
map <Leader>ge <Plug>(easymotion-gel)
map <Leader>j <Plug>(easymotion-j)
map <Leader>k <Plug>(easymotion-k)
