consoles/
extensions/
jdbc-drivers/
options/*local.xml
options/AquaOldUserFeedbackService.xml
options/actionSummary.xml
options/features.usage.statistics.xml
options/find.xml
options/jdk.table.xml
options/other.xml
options/project.default.xml
options/pySdk.xml
options/recentProjects.xml
options/trusted-paths.xml
options/updates.xml
options/window.state.xml
plugins/
scratches/
tasks/
workspace/
.lock
plugin_PCWMP.license
pycharm.key
pycharm.vmoptions
updatedBrokenPlugins.db
user.web.token
