**/*
!codestyles/
!inspection/
!keymaps/
!light-edit/
!options/mac/keymap.xml
!options/advancedSettings.xml
!options/baseRefactoring.xml
!options/color.scheme.xml
!options/console-font.xml
!options/customization.xml
!options/editor.xml
!options/editor-font.xml
!options/filetypes.xml
!options/find.xml
!options/grazie_global.xml
!options/ide.general.xml
!options/keymapFlags.xml
!options/ui.lnf.xml
!options/watcherDefaultTask.xml
!tools/
!.gitignore
!bundled_plugins.txt
!disabled_plugins.txt
!disabled_update.txt
!early-access-registry.txt
!idea.properties
