"$schema" = 'https://starship.rs/config-schema.json'

# The `add_new_line` behavior is implemented manually in `.config/starship/starship.zsh` to work
# around an issue with new line being added at the beginning of a terminal session
add_newline = false

format = """
$directory\
$git_branch\
$git_commit\
$git_state\
${custom.git_status_simplified}\
$git_status\
$jobs\
$fill\
$python\
$nodejs\
$cmd_duration\
$time\
$line_break\
$character\
"""

[cmd_duration]
format = '[󱦟$duration]($style) '
style = "yellow bold"

[custom.git_status_simplified] # Source: https://github.com/starship/starship/discussions/1252#discussioncomment-692829
format = '[$symbol]($style)'
shell = ['bash']
style = 'red bold'
symbol = '*'
when = 'test -n "$(git status --porcelain)"'

[directory]
read_only = ' '
read_only_style = 'red bold'
style = "cyan bold"
truncate_to_repo = true
truncation_length = 0
truncation_symbol = "󰊢 "

[fill]
symbol = " "

[git_branch]
format = "[$symbol$branch(:$remote_branch)]($style) "
style = "bold purple"

[git_commit]
format = '[\($hash$tag\)]($style) '
style = "bold purple"

[git_state]
format = '[- $state( $progress_current/$progress_total)]($style) '
style = "bold purple"

[git_status]
diverged = "⇡⇣"
format = '([$ahead_behind$stashed]($style))'
stashed = "≡"
style = "red bold"

[jobs]
number_threshold = 999 # Never reached in practice
style = "red bold"

[nodejs]
format = '[$symbol($version )]($style)'
version_format = '${raw}'

[python]
format = '[${symbol} ${pyenv_prefix}(${version} )(\($virtualenv\) )]($style)'
style = "blue bold"
symbol = ""
version_format = '${raw}'

[time]
disabled = false
format = "[ $time]($style) "
style = "bold yellow"
